* {
  box-sizing: border-box;
}

body {
  --white-border: rgba(255, 255, 255, 0.1);
  color: white;
  background: #0f1126;
  padding: 0;
  margin: 0;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Fira Sans", monospace;
  text-align: center;
  overflow: hidden;
}

#root {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}

main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
main > .primary {
  flex-basis: 40%;
}

h3 {
  font-weight: inherit;
  font-size: inherit;
  margin: 0;
}

.three {
  /* position: relative; */
  /* display: flex; */
}

.three .bubble {
  position: absolute;
  border-radius: 100%;
  animation: BubbleFloat 5s infinite;
}

.three > .bubble:first-child {
  background: rgba(0, 200, 215, 0.8);
  width: 22.5vw;
  height: 22.5vw;
  bottom: 12vh;
  left: 9vw;
  z-index: 0;
  animation-duration: 5s;
}
.three > .bubble:nth-child(2) {
  background: rgba(237, 0, 181, 0.8);
  mix-blend-mode: screen;
  left: 29vw;
  width: 18vw;
  height: 18vw;
  bottom: 6vh;
  animation-duration: 8s;
}
.three > .bubble:last-child {
  background: rgba(10, 132, 255, 0.8);
  width: 25vw;
  height: 25vw;
  bottom: 6vh;
  left: 63vw;
  animation-duration: 7s;
}

.bubble .od {
  font-size: 3.2vw;
  /* margin-bottom: 1vw; */
}

.title {
  padding-top: 5vh;
  padding-left: 10vw;
}

#logo {
  width: 479px;
  height: 67px;
  background: url("logo@2x.png");
  background-size: 479px 67px;
}

.panel {
  font-size: 2vw;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 40vh;
  display: flex;
  position: relative;
}

.panel.primary .od {
  letter-spacing: -0.06em;
}

.bubble {
  font-size: 1.2vw;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 40vh;
  display: flex;
  position: relative;
}

/* NEW VERSION ------------------------ */

#scene {
  overflow: hidden;
  height:100vh;
  width:100vw;
 }
 .background {
  transform:scale(1.5);
  position:fixed;
  right:0;
  left:0;
  margin:auto
 }
 .white-overlay {
  fill:#fff;
  height:100vh;
  width:100vw;
  position:absolute;
  opacity:0;
  will-change:opacity
 }
 .wave1 {
  fill:url(#light-gradient);
  height:100vh;
  width:100vw
 }
 .wave2 {
  fill:url(#dark-gradient);
  height:70vh;
  width:85vw;
  bottom:0
 }
 .wave3 {
  opacity:.5;
  fill:url(#dark-gradient);
  height:48vh;
  width:75vw;
  bottom:0
 }
 .wave4 {
  opacity:.6;
  fill:#005fe7;
  height:26vh;
  width:100vw;
  bottom:0
 }
 .wave5 {
  opacity:.6;
  fill:#002079;
  height:51vh;
  width:100vw
 }
 .wave6 {
  opacity:.8;
  fill:url(#light-gradient);
  height:73vh;
  width:100vw
 }
 .wave7 {
  opacity:.3;
  fill:url(#light-gradient);
  margin:0;
  height:59vh;
  width:60vw
 }
 .wave8 {
  opacity:.6;
  fill:#002079;
  height:51vh;
  width:100vw
 }
 .color-overlay {
  height:100vh;
  width:100vw;
  position:absolute;
  fill:url(#orange-gradient);
  mix-blend-mode:color;
  opacity:0;
  will-change:opacity
 }
 #scene[data-animate=true] .wave1 {
  animation:Wave1 17.26s infinite forwards
 }
 #scene[data-animate=true] .wave2 {
  animation:Wave2 11.08s infinite forwards
 }
 #scene[data-animate=true] .wave3 {
  animation:Wave3 7.51s infinite forwards
 }
 #scene[data-animate=true] .wave4 {
  animation:Wave4 15.14s infinite forwards
 }
 #scene[data-animate=true] .wave5 {
  animation:Wave5 13.46s infinite forwards
 }
 #scene[data-animate=true] .wave6 {
  animation:Wave6 20.55s infinite forwards
 }
 #scene[data-animate=true] .wave7 {
  animation:Wave7 26.55s infinite forwards
 }
 #scene[data-animate=true] .wave8 {
  animation:Wave8 27.43s infinite forwards
 }
 #scene[data-content=true] #firefox-logo {
  transition:opacity 1s 1.8s;
  opacity:1
 }
 #scene[data-content=true] #fxa-iframe-config {
  transition:opacity 1s 2s,transform 1s 2s;
  opacity:.9;
  transform:scale(1)
 }
 #scene[data-content=true] #left-divider #title,#scene[data-content=true] #left-divider .content,#scene[data-content=true] #left-divider a {
  transition:transform .5s,opacity .8s;
  transform:translateY(0);
  opacity:1
 }
 #scene[data-content=true] #left-divider #title {
  transition-delay:1.8s
 }
 #scene[data-content=true] #left-divider .content {
  transition-delay:2s
 }
 #scene[data-content=true] #left-divider a {
  transition-delay:2.2s
 }
 #scene[data-sign-in=true] .fxaccounts-container {
  transition:opacity .5s;
  opacity:0;
  animation:HideVisibility 0s .5s 1 forwards
 }
 #scene[data-sign-in=true] .color-overlay {
  transition:opacity 1s .8s;
  opacity:1
 }
 #scene[data-sign-in=true] .white-overlay {
  transition:opacity .6s 1.1s;
  opacity:1
 }
 #scene[data-sign-in=true] .wave1 {
  animation:Wave1 17.26s 1 forwards,Expand1 1.5s var(--animation-curve) .2s forwards
 }
 #scene[data-sign-in=true] .wave2 {
  animation:Wave2 11.08s 1 forwards,Expand2 1.5s var(--animation-curve) .2s 1 forwards
 }
 #scene[data-sign-in=true] .wave3 {
  animation:Wave3 7.51s 1 forwards,Expand3 1.5s var(--animation-curve) .2s 1 forwards
 }
 #scene[data-sign-in=true] .wave4 {
  animation:Wave4 15.14s 1 forwards,Expand4 1.5s var(--animation-curve) .2s 1 forwards
 }
 #scene[data-sign-in=true] .wave5 {
  animation:Wave5 13.46s 1 forwards,Expand5 1.5s var(--animation-curve) .2s 1 forwards
 }
 #scene[data-sign-in=true] .wave6 {
  animation:Wave6 20.55s 1 forwards,Expand6 1.5s var(--animation-curve) .2s 1 forwards
 }
 #scene[data-sign-in=true] .wave7 {
  animation:Wave7 26.55s 1 forwards,Expand7 1.5s var(--animation-curve) .2s 1 forwards
 }
 #scene[data-sign-in=true] .wave8 {
  animation:Wave8 27.43s 1 forwards,Expand8 1.5s var(--animation-curve) .2s 1 forwards
 }

 @keyframes Expand1 {
  25% {
   transform:scale(1.2) skew(-8deg)
  }
  35% {
   transform:scale(1.9) rotate(0) skew(-8deg);
   transform-origin:center
  }
  100% {
   transform:scale(1.9) rotate(140deg) translate(305px,900px) skew(-8deg);
   transform-origin:center
  }
 }
 @keyframes Expand2 {
  25% {
   transform:scale(1.43) rotate(0) skew(16deg);
   transform-origin:center
  }
  70% {
   transform:scale(1.8) rotate(140deg) translate(0,200px) skew(16deg);
   transform-origin:center
  }
  100% {
   transform:scale(1.8) rotate(179deg) translate(300px,700px) skew(16deg);
   transform-origin:center
  }
 }
 @keyframes Expand3 {
  25% {
   transform:scale(1.9,1.8) translate(20px,0) skew(16deg);
   transform-origin:center
  }
  50% {
   transform:scale(1.9,1.8) translate(100px,100px) skew(16deg);
   transform-origin:center
  }
  100% {
   transform:scale(1.9) translate(200px,360px) skew(16deg);
   transform-origin:center
  }
 }
 @keyframes Expand4 {
  25% {
   transform:scale(1.6,1.13) skew(-11.7deg)
  }
  100% {
   transform:scale(1.6,1.13) translate(0,290px) skew(-11.7deg)
  }
 }
 @keyframes Expand5 {
  25% {
   transform:scale(1.35) skew(10deg)
  }
  45% {
   transform:scale(1.9) skew(10deg);
   transform-origin:center
  }
  100% {
   transform:scale(1.9) rotate(130deg) translate(309px,356px) skew(10deg);
   transform-origin:center
  }
 }
 @keyframes Expand6 {
  25% {
   transform:scale(1.35) skew(13deg)
  }
  50% {
   transform:scale(1.8) skew(13deg);
   transform-origin:center
  }
  100% {
   transform:scale(1.9) rotate(140deg) translate(-310px,-712px) skew(13deg);
   transform-origin:center
  }
 }
 @keyframes Expand7 {
  25% {
   transform:scale(1.35) skew(7deg)
  }
  50% {
   transform:scale(1.9) skew(7deg);
   transform-origin:center
  }
  100% {
   transform:scale(1.9) rotate(130deg) translate(-700px,-916px) skew(7deg);
   transform-origin:center
  }
 }
 @keyframes Expand8 {
  20% {
   transform:scale(1.65,1.2) skew(-11.7deg)
  }
  100% {
   transform:scale(1.88) translate(178px,-669px) skew(-11.7deg) rotate(30deg);
   transform-origin:center
  }
 }
 @keyframes Wave1 {
  35% {
   transform:scale(1.37) skew(-15deg)
  }
  65% {
   transform:scale(1.52,1.55) skew(-8deg)
  }
  100% {
   transform:scale(1.5) skew(0)
  }
 }
 @keyframes Wave2 {
  35% {
   transform:scale(1.59,1.5) skew(10deg)
  }
  65% {
   transform:scale(1.6) skew(8deg)
  }
  100% {
   transform:scale(1.5) skew(0)
  }
 }
 @keyframes Wave3 {
  35% {
   transform:scale(1.59,1.26) skew(24deg)
  }
  65% {
   transform:scale(1.52,1.58) skew(8deg)
  }
  100% {
   transform:scale(1.5) skew(0)
  }
 }
 @keyframes Wave4 {
  50% {
   transform:scale(1.85,1.17) skew(-35deg)
  }
  100% {
   transform:scale(1.5) skew(0)
  }
 }
 @keyframes Wave5 {
  50% {
   transform:scale(1.24,1.5) translate(0,50px) skew(28deg)
  }
  100% {
   transform:scale(1.5) skew(0)
  }
 }
 @keyframes Wave6 {
  40% {
   transform:scale(2.3,1.81) skew(41deg)
  }
  75% {
   transform:scale(1.73,1.58) skew(-15deg)
  }
  100% {
   transform:scale(1.5) skew(0)
  }
 }
 @keyframes Wave7 {
  40% {
   transform:scale(1.71) skew(28deg)
  }
  75% {
   transform:scale(1.71,1.36) skew(-26deg)
  }
  100% {
   transform:scale(1.5) skew(0)
  }
 }
 @keyframes Wave8 {
  50% {
   transform:scale(1.24,1.5) skew(28deg)
  }
  100% {
   transform:scale(1.5) skew(0)
  }
 }
 @keyframes HideVisibility {
  100% {
   visibility:collapse
  }
 }


 @keyframes BubbleFloat {
   50% {
    transform: scale(1.1);
   }
 }

.panel > div {
  margin: 0;
  overflow: hidden;
}

.od {
  font-weight: 300;
  font-family: "DecimaMonoLt", monospace;
}

.panel.primary .od {
  font-size: 18vh;
}

.country-table .od {
  font-size: inherit;
  margin: 0;
}

.country-table {
  text-align: left;
  vertical-align: middle;
  font-size: 1.4vw;
}

.country-table td {
  padding: 0 10px;
  line-height: 1;
}
.country-table .flag {
  font-size: 1.8em;
}

/* OD ---------------------------- */
.odometer.odometer-auto-theme, .odometer.odometer-theme-default {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  position: relative;
}
.odometer.odometer-auto-theme .odometer-digit, .odometer.odometer-theme-default .odometer-digit {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  position: relative;
}
.odometer.odometer-auto-theme .odometer-digit .odometer-digit-spacer, .odometer.odometer-theme-default .odometer-digit .odometer-digit-spacer {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  visibility: hidden;
}
.odometer.odometer-auto-theme .odometer-digit .odometer-digit-inner, .odometer.odometer-theme-default .odometer-digit .odometer-digit-inner {
  text-align: left;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}
.odometer.odometer-auto-theme .odometer-digit .odometer-ribbon, .odometer.odometer-theme-default .odometer-digit .odometer-ribbon {
  display: block;
}
.odometer.odometer-auto-theme .odometer-digit .odometer-ribbon-inner, .odometer.odometer-theme-default .odometer-digit .odometer-ribbon-inner {
  display: block;
  -webkit-backface-visibility: hidden;
}
.odometer.odometer-auto-theme .odometer-digit .odometer-value, .odometer.odometer-theme-default .odometer-digit .odometer-value {
  display: block;
  -webkit-transform: translateZ(0);
}
.odometer.odometer-auto-theme .odometer-digit .odometer-value.odometer-last-value, .odometer.odometer-theme-default .odometer-digit .odometer-value.odometer-last-value {
  position: absolute;
}
.odometer.odometer-auto-theme.odometer-animating-up .odometer-ribbon-inner, .odometer.odometer-theme-default.odometer-animating-up .odometer-ribbon-inner {
  -webkit-transition: -webkit-transform 2s;
  -moz-transition: -moz-transform 2s;
  -ms-transition: -ms-transform 2s;
  -o-transition: -o-transform 2s;
  transition: transform 2s;
}
.odometer.odometer-auto-theme.odometer-animating-up.odometer-animating .odometer-ribbon-inner, .odometer.odometer-theme-default.odometer-animating-up.odometer-animating .odometer-ribbon-inner {
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  transform: translateY(-100%);
}
.odometer.odometer-auto-theme.odometer-animating-down .odometer-ribbon-inner, .odometer.odometer-theme-default.odometer-animating-down .odometer-ribbon-inner {
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  transform: translateY(-100%);
}
.odometer.odometer-auto-theme.odometer-animating-down.odometer-animating .odometer-ribbon-inner, .odometer.odometer-theme-default.odometer-animating-down.odometer-animating .odometer-ribbon-inner {
  -webkit-transition: -webkit-transform 2s;
  -moz-transition: -moz-transform 2s;
  -ms-transition: -ms-transform 2s;
  -o-transition: -o-transform 2s;
  transition: transform 2s;
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}

.odometer.odometer-auto-theme, .odometer.odometer-theme-default {
  font-family: inherit;
  line-height: 1.1em;
}
.odometer.odometer-auto-theme .odometer-value, .odometer.odometer-theme-default .odometer-value {
  text-align: center;
}
